*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
font-size: 20px; 
color: rgb(73, 24, 24) ;}
section h1{ 
    font-size:large;
    font-family: 'Inspiration', cursive;
}

section p {
 color: rgb(25, 37, 37);}
body{
 background-color: rgb(200, 113, 240);}

 .texto {
     color: brown;
 }
 #california {
     font-size: 30px;
 }
 .cubiertas li{
     list-style-type: none;
 }
 .cubiertas {
     font-family: Arial, Helvetica, sans-serif;
}
.titulo {
    color:black;
    font-size: 70px;
}
.titulo li {
    list-style-type: none ;
}
#header{
display: flex;
justify-content: space-between;
height: 200px;
align-items: center;
padding: 15px;
}

.box-models{
   display: flex;
    width:160%   ;
}
#header .inicio {
    display: flex ;
}

nav ul li{
 list-style: none;
 display:inline; 
 margin: 0 5px;
}
 
.flex-conteiner {
    background-color: black;
    padding: 10px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-items: space;
}
.flex-conteiner-imagen{
background-color: rgb(0, 0, 0);
padding: 10px;
display: flex;
justify-content: space-around;
}
.flex-item {
    height: 100%;
}
.flex-item img {
    width: 100%;
}
.flex-itemNum p{
    color: rgb(248, 179, 219);
     justify-content: space-around;
}
.logo__inicio img{
    width: 40%;
}
#trabajos{
    display: grid;
grid-template-columns: 2fr 2fr 2fr;

}
#trabajos img{
    width: 100% 
}
#trabajo img:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/2;
}
#trabajo img:nth-child(2){
grid-column: 3/4;
grid-row: 1/3;
}